<div id="event-{{event.id}}" class="scenes container nowrap" data-event-place="{{ event.place }}" data-event-id="{{ event.id }}" hx-get="/event/hide-scenes/{{event.id}}" hx-trigger="dblclick" hx-swap="outerHTML">

  <div class="event turned card" data-event-id="{{ event.id }}">
    <p>{{ event.description }}</p>
    {% include "common/tone.html.twig" with { tone: event.tone.value } %}
    <span class="scene-count">{{ numScenes }}</span>
  </div>
  {% for scene in event.scenes %}
    {% include "scene/scene.html.twig" with { scene: scene } %}
  {% endfor %}
</div>
