<div class="scenes container nowrap" data-event-place="{{ event.place }}" data-event-id="{{ event.id }}" hx-get="/event/hide-scenes/{{event.id}}" hx-trigger="dblclick" hx-swap="outerHTML">
  <div class="event turned card" data-event-id="{{ event.id }}">
    <p>{{ event.description }}</p>
    {% include "partials/tone.html.twig" with { tone: event.tone.value } %}
    <span class="scene-count">{{ numScenes }}</span>
  </div>
  {% for scene in event.scenes %}
    <div class="scene card">
      <p>{{ scene.description }}</p>
      {% include "partials/tone.html.twig" with { tone: scene.tone.value } %}
    </div>
  {% endfor %}
</div>
