<!-- The scenes container holds all the scenes belonging to this event -->
<div id="event-{{event.id}}" class="scenes container nowrap" data-event-place="{{ event.place }}"
data-event-id="{{ event.id }}" hx-get="/event/show-scenes/{{event.id}}" hx-trigger="dblclick" hx-swap="outerHTML">
 <!-- The card will hold the actual event information -->
  <div class="event turned card">
    <p>{{ event.description }}</p>
    {% include "partials/tone.html.twig" with { tone: event.tone.value } %}
    <span class="scene-count">{{ numScenes }}</span>
  </div>
  <!-- Scenes will fill in here when requested -->
</div>
